# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
.DS_Store

*.log
*/common
*.db


# Gitignore for visys

.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# End of gitignore for visys
